/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: diagram;
	margin-left: 0.937in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	cell-padding-top: 6pt;
	cell-padding-left: 6pt;
	cell-padding-right: 6pt;
	cell-padding-bottom: 4pt;
	max-id: 4;
}

mcTableColumnStyle
{
	separator-style: none;
	ruler-style: none;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 2;
	separator-style: none;
	ruler-style: none;
	name: Body1;
	id: 1;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 2;
	separator-style: none;
	ruler-style: none;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-diagram
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-right-style: none;
	border-right-color: #000000;
	border-top-style: none;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-color: #000000;
	margin-left: 0.937in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	border-spacing: 0px 0px;
}

.TableStyle-diagram-Column-Column1
{
	
}

.TableStyle-diagram-Head-Header1
{
	
}

.TableStyle-diagram-HeadI-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-diagram-HeadI-Column1-Header1 p
{
	
}

.TableStyle-diagram-HeadE-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-diagram-HeadE-Column1-Header1 p
{
	
}

.TableStyle-diagram-HeadF-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-diagram-HeadF-Column1-Header1 p
{
	
}

.TableStyle-diagram-HeadH-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-diagram-HeadH-Column1-Header1 p
{
	
}

.TableStyle-diagram-HeadD-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-diagram-HeadD-Column1-Header1 p
{
	
}

.TableStyle-diagram-HeadC-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-diagram-HeadC-Column1-Header1 p
{
	
}

.TableStyle-diagram-HeadB-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-diagram-HeadB-Column1-Header1 p
{
	
}

.TableStyle-diagram-HeadA-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-diagram-HeadA-Column1-Header1 p
{
	
}

.TableStyle-diagram-HeadG-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-diagram-HeadG-Column1-Header1 p
{
	
}

.TableStyle-diagram-Foot-Footer1
{
	
}

.TableStyle-diagram-FootI-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-diagram-FootI-Column1-Footer1 p
{
	
}

.TableStyle-diagram-FootE-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-diagram-FootE-Column1-Footer1 p
{
	
}

.TableStyle-diagram-FootF-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-diagram-FootF-Column1-Footer1 p
{
	
}

.TableStyle-diagram-FootH-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-diagram-FootH-Column1-Footer1 p
{
	
}

.TableStyle-diagram-FootD-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-diagram-FootD-Column1-Footer1 p
{
	
}

.TableStyle-diagram-FootC-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-diagram-FootC-Column1-Footer1 p
{
	
}

.TableStyle-diagram-FootB-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-diagram-FootB-Column1-Footer1 p
{
	
}

.TableStyle-diagram-FootA-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-diagram-FootA-Column1-Footer1 p
{
	
}

.TableStyle-diagram-FootG-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-diagram-FootG-Column1-Footer1 p
{
	
}

.TableStyle-diagram-Body-Body1
{
	
}

.TableStyle-diagram-BodyI-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	vertical-align: top;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-diagram-BodyI-Column1-Body1 p
{
	
}

.TableStyle-diagram-BodyE-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	vertical-align: top;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-diagram-BodyE-Column1-Body1 p
{
	
}

.TableStyle-diagram-BodyF-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	vertical-align: top;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-diagram-BodyF-Column1-Body1 p
{
	
}

.TableStyle-diagram-BodyH-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	vertical-align: top;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-diagram-BodyH-Column1-Body1 p
{
	
}

.TableStyle-diagram-BodyD-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	vertical-align: top;
	border-bottom-style: none;
}

.TableStyle-diagram-BodyD-Column1-Body1 p
{
	
}

.TableStyle-diagram-BodyC-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-diagram-BodyC-Column1-Body1 p
{
	
}

.TableStyle-diagram-BodyB-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-diagram-BodyB-Column1-Body1 p
{
	
}

.TableStyle-diagram-BodyA-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	vertical-align: top;
}

.TableStyle-diagram-BodyA-Column1-Body1 p
{
	
}

.TableStyle-diagram-BodyG-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	vertical-align: top;
	border-bottom-style: none;
}

.TableStyle-diagram-BodyG-Column1-Body1 p
{
	
}

.TableStyle-diagram-Body-Body2
{
	
}

.TableStyle-diagram-BodyI-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-diagram-BodyI-Column1-Body2 p
{
	
}

.TableStyle-diagram-BodyE-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-diagram-BodyE-Column1-Body2 p
{
	
}

.TableStyle-diagram-BodyF-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-diagram-BodyF-Column1-Body2 p
{
	
}

.TableStyle-diagram-BodyH-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-diagram-BodyH-Column1-Body2 p
{
	
}

.TableStyle-diagram-BodyD-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
}

.TableStyle-diagram-BodyD-Column1-Body2 p
{
	
}

.TableStyle-diagram-BodyC-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-diagram-BodyC-Column1-Body2 p
{
	
}

.TableStyle-diagram-BodyB-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-right-style: none;
}

.TableStyle-diagram-BodyB-Column1-Body2 p
{
	
}

.TableStyle-diagram-BodyA-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
}

.TableStyle-diagram-BodyA-Column1-Body2 p
{
	
}

.TableStyle-diagram-BodyG-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 6pt;
	padding-bottom: 4pt;
	border-bottom-style: none;
}

.TableStyle-diagram-BodyG-Column1-Body2 p
{
	
}


