<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/dev/docs/assets/bootstrap-3.0.0/css/bootstrap.css">
</head>
<body>
  <div class="container">
    {{{markdown}}}
  </div>
</body>
</html>
