/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Format_B;
	margin-left: 0.10757in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	cell-padding-top: 0pt;
	cell-padding-left: 4pt;
	cell-padding-right: 6pt;
	cell-padding-bottom: 2pt;
	max-id: 4;
}

mcTableColumnStyle
{
	separator-style: none;
	ruler-style: none;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 2;
	separator-style: none;
	ruler-style: none;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 2;
	separator-style: none;
	ruler-style: none;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-Format_B
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-right-style: none;
	border-right-color: #000000;
	border-top-style: none;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-color: #000000;
	margin-left: 0.10757in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	border-spacing: 0px 0px;
}

.TableStyle-Format_B-Column-Column1
{
	
}

.TableStyle-Format_B-Head-Header1
{
	
}

.TableStyle-Format_B-HeadI-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Format_B-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Format_B-HeadE-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Format_B-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Format_B-HeadF-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Format_B-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Format_B-HeadH-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Format_B-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Format_B-HeadD-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Format_B-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Format_B-HeadC-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Format_B-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Format_B-HeadB-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Format_B-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Format_B-HeadA-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Format_B-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Format_B-HeadG-Column1-Header1
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Format_B-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Format_B-Foot-Footer1
{
	
}

.TableStyle-Format_B-FootI-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Format_B-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Format_B-FootE-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Format_B-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Format_B-FootF-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Format_B-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Format_B-FootH-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Format_B-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Format_B-FootD-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Format_B-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Format_B-FootC-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Format_B-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Format_B-FootB-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Format_B-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Format_B-FootA-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Format_B-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Format_B-FootG-Column1-Footer1
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Format_B-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Format_B-Body-Body1
{
	
}

.TableStyle-Format_B-BodyI-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Format_B-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Format_B-BodyE-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Format_B-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Format_B-BodyF-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Format_B-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Format_B-BodyH-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Format_B-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Format_B-BodyD-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
}

.TableStyle-Format_B-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Format_B-BodyC-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Format_B-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Format_B-BodyB-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Format_B-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Format_B-BodyA-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Format_B-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Format_B-BodyG-Column1-Body1
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
}

.TableStyle-Format_B-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Format_B-Body-Body2
{
	
}

.TableStyle-Format_B-BodyI-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Format_B-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Format_B-BodyE-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Format_B-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Format_B-BodyF-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Format_B-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Format_B-BodyH-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-Format_B-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Format_B-BodyD-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
}

.TableStyle-Format_B-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Format_B-BodyC-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Format_B-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Format_B-BodyB-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-right-style: none;
}

.TableStyle-Format_B-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Format_B-BodyA-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
}

.TableStyle-Format_B-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Format_B-BodyG-Column1-Body2
{
	padding-left: 4pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 2pt;
	border-bottom-style: none;
}

.TableStyle-Format_B-BodyG-Column1-Body2 p
{
	
}


