<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<description>Servlet used for Application initialization.</description>
		<display-name>Application</display-name>
		<servlet-name>Application</servlet-name>
		<servlet-class>com.absolute.am.webapi.Application</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>APIServlet</servlet-name>
		<servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.absolute.am.webapi.ssp.controllers;com.absolute.am.webapi.controllers;com.absolute.am.webapi.push;com.absolute.am.webapi</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.spi.container.ResourceFilters</param-name>
			<param-value>com.absolute.am.webapi.filters.AuthorizationResourceFilterFactory</param-value>
		</init-param>
		<async-supported>true</async-supported>
	</servlet>

	<servlet-mapping>
		<servlet-name>APIServlet</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>SessionActiveFilter</filter-name>
		<filter-class>com.absolute.am.webapi.filters.SessionActiveFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>bypassPatterns</param-name>
			<param-value>(.*/login.*)|(.*/syncnotify.*)|(.*/defaultServerInfo.*)</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>SessionActiveFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>

	<listener>
		<description>Deletes any files that were uploaded but not actually submitted to the AM server.</description>
		<display-name>TempFileCleaner</display-name>
		<listener-class>com.absolute.am.webapi.listeners.TempFileCleanerSessionListener</listener-class>
	</listener>
	<listener>
		<description>Instructs the SyncService to stop syncing for this session.</description>
		<display-name>SyncService Session Listener</display-name>
		<listener-class>com.absolute.am.webapi.listeners.SyncServiceSessionListener</listener-class>
	</listener>
	<listener>
		<description>Deletes jobIds what were active during this session.</description>
		<display-name>JobId cleaner Session Listener</display-name>
		<listener-class>com.absolute.am.webapi.listeners.JobIdCleanupSessionListener</listener-class>
	</listener>

	<context-param>
		<description>The DAL to use.</description>
		<param-name>com.absolute.am.webapi.Application.DalClassName</param-name>
		<param-value>com.absolute.am.sqlitedal.Dal</param-value>
	</context-param>
	<context-param>
		<description>The session timeout in seconds.</description>
		<param-name>com.absolute.am.webapi.controllers.Login.SessionTimeoutSeconds</param-name>
		<param-value>600</param-value>
	</context-param>
	<context-param>
		<description>Persist the sync session after disconnect.</description>
		<param-name>com.absolute.am.webapi.listeners.SyncServiceSessionListener.PersistSyncSession</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<description>Enable/disable the live data updating of some frontend data tables.</description>
		<param-name>com.absolute.webapi.Application.enableLiveDataUpdates</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<description>Delay refreshing the data on the client's computer by this many milliseconds 
		when we get a notification that the data has been updated.</description>
		<param-name>com.absolute.webapi.Application.delayLiveDataUpdates</param-name>
		<param-value>2000</param-value>
	</context-param>
	<context-param>
		<description>The folder where the content uploader can temporarily store uploaded files.</description>
		<param-name>com.absolute.webapi.controllers.content.folderForTemporaryUploads</param-name>
		<param-value>${WebAPITempUploadsFolder}</param-value>
	</context-param>
	<env-entry>
		<description>Location of logback.xml config file</description>
		<env-entry-name>logback_config_file</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>${WebAPILogbackFile}</env-entry-value>
	</env-entry>
	<context-param>
		<description>Location of files needed for defining views.</description>
		<param-name>sqlitedal.viewConfigFolder</param-name>
		<param-value>${WebAPIViewConfigFolder}</param-value>
	</context-param>
	<context-param>
		<description>Location of the setting directory.</description>
		<param-name>com.absolute.am.webapi.controllers.DefaultServerInfo.settingsFile</param-name>
		<param-value>${WebAPISettingsFile}</param-value>
	</context-param>
	<context-param>
		<description>Location of UserPrefs files</description>
		<param-name>com.absolute.webapi.controllers.userprefs.folderForUserPrefsFiles</param-name>
		<param-value>${WebAPIUserPrefsFiles}</param-value>
	</context-param>
	<context-param>
		<description>Filename for sqlite UserPrefs database. This database holds WebAPI specific data, so it is stored separate from the SyncService databases.</description>
		<param-name>com.absolute.am.sqlitedal.UserPrefHandler.pathToUserPrefsDatabase</param-name>
		<param-value>${WebAPIUserPrefsDatabaseFile}</param-value>
	</context-param>
	<context-param>
		<description>The location of the webapi database file.</description>
		<param-name>dal.webapidatabasefile</param-name>
		<param-value>${WebAPIDatabaseFile}</param-value>
	</context-param>
	<context-param>
		<description>Enable or disable the SSP login functionality of this web application.</description>
		<param-name>com.absolute.am.webapi.ssp.controllers.Login.Enabled</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<description>Don't store the default SSP server name and port information whenever this is set to 'true'.
		Essentially this forces the user to input their server data on every login attempt.</description>
		<param-name>com.absolute.am.webapi.ssp.controllers.Login.SspForceServerPrompt</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<description>The name of the administrator database configuration file for hibernate.</description>
		<param-name>dal.admindbcfgname</param-name>
		<param-value>AdminDatabase.cfg.xml</param-value>
	</context-param>
	<context-param>
		<description>The name of the enum database configuration file for hibernate.</description>
		<param-name>dal.enumdbcfgname</param-name>
		<param-value>EnumDatabase.cfg.xml</param-value>
	</context-param>

	<context-param>
		<description>The limit on UserPrefs file size</description>
		<param-name>com.absolute.webapi.controllers.userprefs.requestLengthLimit</param-name>
		<param-value>512000</param-value>
	</context-param>
	<context-param>
		<description>The trusted certificate for each AM Server that the system can connect to are stored in this folder.
     The certificates are named {ServerUniqueID}.pem, e.g. C8135979-AED5-412D-90D1-BE65931F8B8B.pem. 
     Only authorized administrators should be allowed to modify the contents of this folder.</description>
		<param-name>com.absolute.am.webapi.Application.pathToTrustedCerts</param-name>
		<param-value>${WebAPICertificatesFolder}</param-value>
	</context-param>
	<context-param>
		<description>The port that the Sync Service accepts connections on, for this server. Note: the SyncService is always on the localhost, so there is no hostname property.</description>
		<param-name>com.absolute.am.webapi.SyncServiceManager.port</param-name>
		<param-value>${WebAPISyncServicePort}</param-value>
	</context-param>
	<context-param>
		<description>The URL that the Sync Service should use to POST notifications to the WebAPI.</description>
		<param-name>com.absolute.am.webapi.ISyncService.notifyUrl</param-name>
		<param-value>${WebAPISyncServiceNotificationUrl}</param-value>
	</context-param>
	<context-param>
		<description>The list of locales supported by enum databases (may not match 100% the list of locales supported by the UI).</description>
		<param-name>dbSupportedLocales</param-name>
		<param-value>en,ja</param-value>
	</context-param>
	<context-param>
		<description>The limit on wallpaper picture file size</description>
		<param-name>com.absolute.webapi.controllers.action.wallpaperImageLimitBytes</param-name>
		<param-value>4194304</param-value>
	</context-param>
	<context-param>
		<description>The default AM server port number</description>
		<param-name>com.absolute.webapi.controllers.login.defaultServerPort</param-name>
		<param-value>3971</param-value>
	</context-param>
</web-app>
